.chatItem {
    display: block;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    overflow-y: hidden;
    border-bottom: 1px solid rgb(217, 217, 217);
    transition: all 0.3s linear;
    cursor: pointer;

    &.active,
    &:hover {
        background-color: rgb(217, 217, 217);
    }

    &__img {
        position: relative;
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__info {
        max-height: 80%;
        flex: 1;
        overflow-y: hidden;
    }

    &__name {
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__message {
        font-size: 14px;
        color: rgb(100, 100, 100);
        overflow-x: hidden;
    }

    &__timestamp {
        font-size: 12px;
        color: rgb(117, 117, 117);
    }
}
